NEXT_PUBLIC_SUPABASE_URL=https://udixrkvcyrxmmrbadhpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkaXhya3ZjeXJ4bW1yYmFkaHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk5NjI3MjIsImV4cCI6MjA2NTUzODcyMn0.BXmEyUjCNsZmKUnQHNPE_fIEB6QDIpnxKD6wbgyOHEA


test=kdfnwfafcnkslfw
# Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
# VAPID public key for FCM
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
